{% extends 'bootstrap/base.html' %}

{% block styles %}

{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block title %}Coffee and Wifi{% endblock %}


{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">Bike Shops🚲</h1>
  <hr class="my-4">
  <p>Checkout my collection of bike shops with data on the cost, speed, and customer service.</p>
  <a class="btn btn-warning btn-lg" href="{{ url_for('shops') }}" role="button">Show Me!</a>
</div>
    </div>

{% endblock %}
