body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5 , h6 {
  font-family: 'Montserrat-Black', sans-serif;

}
h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}
p {
  color: #8f8f8f;
}
html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 3% 10% 0 10%;
}
.ski-img {
  padding:0;
  max-width: 500px;
  max-height: 500px;
}

#title {
  background-color: #11698e;
  color:white;
  text-align: left;
}
#features {
  padding: 7% 15%;
}
.fun-facts {
  color: #d3e0ea;
  margin-bottom: 3%;
}
.fun-facts:hover {
  color: #11698e;
}
.feature-box {
  padding: 5%;
  padding-right: 3%;
  padding-left: 3%;
}
@media (max-width: 765px) {
  #title {
    text-align: center;
  }
  .ski-img {
    max-width: 400px;
    max-height: 400px;
  }
}

/* -------------------Nav Bar------------------- */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-weight: lighter;
}

/* -------------------Download Buttons------------------- */
.download-button {
  margin: 5% 3% 5% 0;
}

/* -------------------Testimonial------------------- */
#testimonials {
  padding: 7% 15%;
  background-color: #11698e;
  color: white;
}
.testimonial-img {
  width: 15%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}
/* Press */
#press {
  background-color: #11698e;
  padding-bottom: 3%;
}
.press-logo {
  width:15%;
  margin: 20px 10px 30px;
}
.testimonial-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
/* ----------------------pricing---------------------- */

#pricing {
  padding: 100px;
}
.pricing-column{
  padding:3% 2%;
}
.pricing-header {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}
.price-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
 .pricing-plan-name {
   font-weight: bolder;
 }


/* ----------------------CTA---------------------- */
#cta {
  padding: 7% 15%;
  background-color: #11698e;
  color: white;

}

.cta-text {
  font-size: 3rem;
  font-weight: bolder;
}

/* ----------------------footer---------------------- */
.credit {
  margin-bottom: 20px;
}
#footer {
  margin-top: 100px;
}
.copyright {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 0.7rem;
}


/* ------------------------------------ CONTACT ME STUFF------------------------------------ */

.pb-100 {
	padding-bottom: 100px;
}
.pt-100 {
	padding-top: 100px;
}
.mb-100 {
	margin-bottom: 100px;
}
a {
	text-decoration: none;
	color: #11698e;
	-webkit-transition: .4s;
	transition: .4s;
}
.section-title {
	position: relative;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
}
.section-title h4::before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #11698e;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;  
	background-color: #11698e;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.contact {
	background-image: url("http://infinityflamesoft.com/html/abal-preview/assets/img/contact_back.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
	color: #fff;
}
.contact-form input,
textarea {
  border-radius: 8px;
  width: 100%;
	padding: 10px 10px;
	text-transform: none;
  margin-left: 0px;
	margin-top: 0;
	background-color: white;
}
.contact:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #11698e;
	z-index: -1;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.single-contact {
	text-align: left;
	position: relative;
	padding-left: 70px;
	margin-bottom: 70px;
	margin-top: 30px;
}
.single-contact i.fa {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-color: #30475e;
  /* #28527a */
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
}
.single-contact h5 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 500;
}
.single-contact p {
	font-size: 15px;
	font-weight: 400;
}
.contact-form input[type="submit"] {
  margin-top: 20px;
	background-color: #30475e;
  font-family: 'Montserrat-Black', sans-serif;
	border: 0px;
	cursor: pointer;
	font-size: 13px;
	-webkit-transition: .4s;
	transition: .3s;
  width: 40%;
}
.contact-form input[type="submit"]:hover {
	background-color: #11698e;
}
.contact-form input:focus, textarea:focus {
	border-color: #11698e;
}
#submit {
  color: white;
}

/* ------------------------------------ LOGIN/REGISTER STUFF------------------------------------ */
#login {
	padding-top: 25%;
	padding-bottom: 41%;
}

#register {
	padding-top: 20%;
	padding-bottom: 32%;
}

